# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# DVC
.dvc/cache
#data/**

# ML artifacts
lightning_logs/
checkpoints/
outputs/
mlflow.db
mlruns/

# IDEs
.idea/
/data
